{%extends "layout.html"%}
{%load static%}
{%block style%}
<style>
    active > .page-link, .page-link.active {
        background-color: #000;
        border-color: #000;
    }

    .page-link {
        color: #0e0e0e;
    }

        .page-link:hover {
            color: #0e0e0e;
        }
</style>
{%endblock%}
{%block content%}
<div class="container">
    <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card shadow-lg mt-5">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr class="text-center">
                                    <th>Session</th>
                                    <th>Class</th>
                                    <th>Student</th>
                                    <th>Total Amount</th>
                                    <th>Payment Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center">
                                    <td>{{fee_invoice.session}}</td>
                                    <td>{{fee_invoice.class_id}}</td>
                                    <td>{{fee_invoice.student}}</td>
                                    <td>₹{{fee_invoice.total_amount}}</td>
                                    <td>{{fee_invoice.payment_date}}</td>

                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card shadow-lg mt-5">
                     
                    <div class="card-body">
                         
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>SN</th> 
                                        <th>Fee Type</th>
                                        <th>Amount</th>     
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for fee in fee_detail%}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{fee.fee}}</td>
                                        <td>{{fee.amount}}</td>
                                    </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
</div>
{%endblock%}
{%block script%}
<script>
    //swal("Are you sure?", {
    //    dangerMode: true,
    //    buttons: true,
    //});
</script>
{%endblock%}