{%extends "layout.html"%}
{%load static%}
{%block style%}
<style>
    active > .page-link, .page-link.active {
        background-color: #000;
        border-color: #000;
    }

    .page-link {
        color: #0e0e0e;
    }

        .page-link:hover {
            color: #0e0e0e;
        }
</style>
{%endblock%}
{%block content%}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card shadow-lg mt-5">
                <div class="card-header">
                    <div class="row">
                        <div class="col"><h5 class="text-left font-weight-light">Fee List</h5></div>
                        <div class="col">
                            <a href="" class="btn btn-dark btn-sm float-end">Add More</a>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <div class="message-box">
                        {%if messages%}
                        {%for message in messages%}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{message}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {%endfor%}
                        {%endif%}

                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Session</th>
                                    <th>Class</th>
                                    <th>Student</th>
                                    <th>Amount</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for invoice in invoices_list%}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{invoice.session}}</td>
                                    <td>{{invoice.class_id}}</td>
                                    <td>{{invoice.student}}</td>
                                    <td>₹{{invoice.total_amount}}</td>
                                    <td>{{invoice.payment_date}}</td>
                                    <td>
                                        <a href="{%url 'fee_details' invoice.id%}"><i class="fa fa-bars text-dark"></i></a>
                                    </td>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <nav aria-label="...">
                            <ul class="pagination justify-content-end">

                                {% if invoices_list.has_previous %}
                                <li class="page-item">
                                    <a href="?page={{ invoices_list.previous_page_number }}" class="page-link">Previous page</a>
                                </li>
                                {% if invoices_list.number > 3 %}
                                <li class="page-item"><a href="?page=1" class="page-link">1</a></li>
                                {% if invoices_list.number > 4 %}
                                <span>...</span>
                                {% endif %}
                                {% endif %}
                                {% endif %}

                                {% for num in invoices_list.paginator.page_range %}
                                {% if invoices_list.number == num %}
                                <li class="page-item"><a href="?page={{ num }}" class="page-link active">{{ num }}</a></li>
                                {% elif num > invoices_list.number|add:'-3' and num < invoices_list.number|add:'3' %}
                                <li class="page-item">
                                    <a href="?page={{ num }}" class="page-link">{{ num }}</a>
                                </li>
                                {% endif %}
                                {% endfor %}

                                {% if invoices_list.has_next %}
                                {% if invoices_list.number < invoices_list.paginator.num_pages|add:'-3' %}
                                <span>...</span>
                                <li class="page-item">
                                    <a href="?page={{ invoices_list.paginator.num_pages }}" class="page-link">{{ invoices_list.paginator.num_pages }}</a>
                                </li>
                                {% elif invoices_list.number < invoices_list.paginator.num_pages|add:'-2' %}
                                <li class="page-item">
                                    <a href="?page={{ invoices_list.paginator.num_pages }}" class="page-link">{{ invoices_list.paginator.num_pages }}</a>
                                </li>
                                {% endif %}
                                <li class="page-item">
                                    <a href="?page={{ invoices_list.next_page_number }}" class="page-link">Next Page</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}
{%block script%}
<script>
    //swal("Are you sure?", {
    //    dangerMode: true,
    //    buttons: true,
    //});
</script>
{%endblock%}